<div class="component border-top">
  <div class="component__panel">
    <div class="hover-scrollbox-y hover-scrollbox-x h-full min-h-full">

      <div #gridElement [class.loading]="isLoading"></div>

      <table class="table border-separate border-spacing-1">
        <thead>
          <tr>
            <th class="sorting sort_center sort_input" (click)="onHandleSort($event, 'activated')"></th>
            <th class="sorting sort_center sort_input" (click)="onHandleSort($event, 'temporary')" *ngIf="isWindows"></th>
            <th class="text-left sorting" (click)="onHandleSort($event, 'full_name')">Name</th>
            <th class="text-left sorting" (click)="onHandleSort($event, 'font_family')">Family</th>
            <th class="text-center sorting" (click)="onHandleSort($event, 'file_type')">Type</th>
            <th class="text-center sorting" (click)="onHandleSort($event, 'file_size')">Size</th>
            <th class="text-left sorting" (click)="onHandleSort($event, 'designer')">Designer</th>
            <th class="text-left sorting" (click)="onHandleSort($event, 'manufacturer')">Manufacturer</th>
            <th class="text-left sorting" (click)="onHandleSort($event, 'version')">Version</th>
            <th class="text-left sorting" (click)="onHandleSort($event, 'unique_id')">Unique Id</th>
            <th class="text-center sorting" (click)="onHandleSort($event, 'created')">Created</th>
            <th class="text-center sorting" (click)="onHandleSort($event, 'updated')">Modified</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of resultSet">

            <tr (click)="onRowClick($event, item)" [attr.id]="item.id" [attr.data-row]="item.id">

              <ng-container *ngIf="item.installable; else p1">
                <td [attr.title]="item.activated ? 'Remove' : 'Add'">
                  <div class="checkbox" (click)="onHandleActivate($event, item, false)">
                    <input type="checkbox" name="activate--{{item.id}}" id="{{item.id}}" value="{{item.id}}"
                      [checked]="item.activated" />
                    <label for="{{item.id}}"></label>
                  </div>
                </td>
              </ng-container>
              <ng-template #p1>
                <td></td>
              </ng-template>

              <ng-container *ngIf="isWindows">
                <ng-container *ngIf="item.installable; else t1">
                  <td [attr.title]="item.temporary ? 'Remove' : 'Add'">
                    <div class="radio" (click)="onHandleActivate($event, item, true)">
                      <input type="radio" name="temporary--{{item.id}}" id="{{item.id}}" value="{{item.id}}"
                        [checked]="item.temporary" />
                      <label for="{{item.id}}"></label>
                    </div>
                  </td>
                </ng-container>
                <ng-template #t1>
                  <td></td>
                </ng-template>
              </ng-container>

              <td class="text-left">{{ item.full_name }}</td>
              <td class="text-left">{{ item.font_family }}</td>
              <td class="text-center">{{ item.file_type }}</td>
              <td class="text-center">{{ item.file_size_pretty }}</td>
              <td class="text-left">{{ item.designer }}</td>
              <td class="text-left">{{ item.manufacturer }}</td>
              <td class="text-left">{{ item.version }}</td>
              <td class="text-left">{{ item.unique_id }}</td>
              <td class="text-center">{{item.created | date :'medium'}}</td>
              <td class="text-center">{{item.updated | date :'medium'}}</td>
            </tr>

          </ng-container>
        </tbody>
      </table>


    </div>
  </div>
</div>