@import "../../../../styles/tools/_variables";
@import "../../../../styles/tools/_functions";
@import "../../../../styles/tools/_mixins";
@import "../../../../styles/tools/_placeholders";

:host {
  margin-top: -1px;
}

.glyph-list {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: nowrap;
  // justify-content: center;
  // align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .glyph-item {
    background-color: #f9f9f9;
    border: solid 2px #fff;
    cursor: alias;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.toolbar-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  padding: 0;
  margin: 0 5px 0 0;
}

.toolbar-item.pagination {
  .pagination-stats {
    margin: 0 10px;
  }
  select {
    margin-right: 5px;
    height: 28px;
    line-height: 1.2;
    font-size: 14px;
  }
  // select {
  //   color: #333;
  //   background-color: #fff;
  //   border: 1px solid $color-border;
  //   border-radius: 0;
  //   box-shadow: none;
  //   outline: none;
  //   height: 24px;
  //   width: auto;
  //   margin-right: 5px;
  //   vertical-align: middle;
  //   font-size: 14px;
  //   font-weight: normal;
  //   line-height: 1.5;
  //   text-align: center;
  //   transition: all ease-in-out 0.15s;
  //   &:active,
  //   &:focus {
  //     box-shadow: none;
  //   }
  // }
}
