@import "../../../../styles/tools/_variables";
@import "../../../../styles/tools/_functions";
@import "../../../../styles/tools/_mixins";
@import "../../../../styles/tools/_placeholders";

:host {
  margin-top: -1px;
}

.glyph-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 1px;
  &__wrapper {
    flex-grow: 1;
  }
  &__wrapper-item {
    cursor: alias;
    margin: 1px;
  }
}

.toolbar-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  padding: 0;
  margin: 0 5px 0 0;
}

.toolbar-item.pagination {
  .pagination-stats {
    margin: 0 10px;
  }
  select {
    margin-right: 5px;
    height: 28px;
    line-height: 1.2;
    font-size: 14px;
  }
}
