<div class="component">
  <div class="component__panel">

    <div class="controls flex justify-between items-center border-top border-bottom">
      <div class="controls__item flex justify-start items-center">
        <div>
          Pairing Component
        </div>
      </div>
      <div class="controls__item flex justify-end items-center">
        <i class="material-icons" (click)="onComponentSwitch();">more_horiz</i>
      </div>
    </div>

    <div class="hover-scrollbox-y h-full min-h-full">

    </div>

  </div>
</div>