@import "../../../../styles/tools/_variables";
@import "../../../../styles/tools/_functions";
@import "../../../../styles/tools/_mixins";
@import "../../../../styles/tools/_placeholders";

.account-verification {
  background-color: $color-1;
  .row {
    height: 100vh;
    width: 100vw;
  }
}

.form-container {
  display: inline-block;
  text-align: center;
  margin-top: -10vh;
  &__block {
    display: block;
    background: $color-white;
    margin: 0 auto;
    padding: 24px 48px 48px;
    width: 360px;
    @include elevation(1);
    .button {
      background: #2c3e50;
      .spinner-border {
        vertical-align: unset;
      }
    }
    .form-header {
      text-align: center;
      background: #2c3e50;
      margin: -24px -48px 24px;
      padding: 48px 24px;
      h1 {
        color: #fff;
        font-size: 24px;
      }
    }
    .form-footer {
      text-align: center;
      margin-top: 20px;
      a {
        color: $gray;
        font-size: 12px;
        text-decoration: none;
      }
    }
    .form-group {
      position: relative;
      margin: 0 0 24px;
      label {
        position: absolute;
        top: 12px;
        left: 0;
        display: block;
        font-size: 14px;
        transition: .2s ease;
      }
      input {
        color: #2c3e50;
        outline: 0;
        background: transparent;
        width: 100%;
        border: 0;
        border-bottom: 1px solid $light-gray;
        padding: 12px 12px 12px 0;
        font-size: 14px;
        &::-webkit-input-placeholder {
          color: transparent;
        }
      }
      input:focus,
      input:valid {
        ~ .line {
          background: #2c3e50;
          width: 100%;
        }
        ~ .label {
          font-size: 12px;
          text-transform: uppercase;
          transform: translate(0, -18px) scale(0.75);
        }
      }
      .line {
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        transition: .6s ease;
      }
    }
  }
}

.button {
  cursor: pointer;
  position: relative;
  outline: none;
  background: $color-blue;
  width: 100%;
  margin: 0;
  padding: 10px 16px;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-family: $base-font-family;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}