<header class="component">
  <div class="left border-top border-bottom">
    <div class="header-block d-flex justify-content-start align-items-center">
      <a class="enabled"><i class="material-icons" (click)="handleCreateCollection($event)">widgets</i> New Collection</a>
      <a class="enabled hidden" title="Smart Upload"><i class="material-icons">remove_from_queue</i> Collections</a>
      <a class="enabled hidden" title="Team Synch"><i class="material-icons">settings_system_daydream</i> Team Sync</a>
    </div>
  </div>
  <div class="middle border-top border-bottom">
    <div class="header-block d-flex justify-content-start align-items-center">
      <a href="javascript:;" (click)="handleToggleNavigation($event)" [className]="navigationEnabled ? 'enabled' : 'disabled'" title="Toggle Navigation"><i class="material-icons">border_all</i> Navigation</a>
      <a href="javascript:;" (click)="handleToggleAside($event)" [className]="asideEnabled ? 'enabled' : 'disabled'" title="Toggle Aside"><i class="material-icons">border_all</i> Aside</a>
      <a href="javascript:;" (click)="handleTogglePreview($event)" [className]="previewEnabled ? 'enabled' : 'disabled'" title="Toggle Preview"><i class="material-icons">border_all</i> Preview</a>
      <a href="javascript:;" (click)="handleToggleInspect($event)" [className]="inspectEnabled ? 'enabled' : 'disabled'" title="Toggle Inspect"><i class="material-icons">border_all</i> Inspect</a>
      <a href="javascript:;" (click)="handleToggleToolbar($event)" [className]="toolbarEnabled ? 'enabled' : 'disabled'" title="Toggle Toolbar"><i class="material-icons">border_all</i> Toolbar</a>
      <a href="javascript:;" (click)="handleToggleGrid($event)" [className]="gridEnabled ? 'enabled' : 'disabled'" title="Toggle Grid"><i class="material-icons">border_all</i> Grid</a>
    </div>
  </div>
  <div class="right border-top border-bottom">
    <div class="header-block d-flex justify-content-end align-items-center">
      <a class="enabled hidden" title=""><i class="material-icons" (click)="handleLogout($event)">group_work</i> Synch</a>
      <a class="enabled" title=""><i class="material-icons" (click)="handleSwitchTheme($event)">burst_mode</i> Theme</a>
      <a class="enabled" title=""><i class="material-icons" (click)="handleLogout($event)">exit_to_app</i> Logout</a>
      <ng-container *ngIf="currentUser">
        <a routerLink="/settings" class="gravatar" title="My Settings"><img src="{{gravatarUrl}}" class="m--img-rounded m--marginless m--img-centered" alt="{{currentUser.name}}" /></a>
      </ng-container>
    </div>
  </div>
</header>

<app-modal modalTitle="System Settings" (goSubmit)="onSubmit($event)"></app-modal>
