<div class="settings component">
  <div class="component__panel !items-stretch">
    <app-breadcrumbs></app-breadcrumbs>
    <app-alert></app-alert>
    <ul class="tabs">
      <li class="border-bottom border-right" routerLinkActive="tabs-panel-open"><a routerLink="/settings/general"
          title="Settings Management">Settings Management</a></li>
      <li class="border-bottom border-right" routerLinkActive="tabs-panel-open"><a routerLink="/settings/database"
          title="Database Management">Database Management</a></li>
      <li class="border-bottom border-right" routerLinkActive="tabs-panel-open"><a routerLink="/settings/theme"
          title="Theme Settings">Theme Settings</a></li>
      <li class="border-bottom border-right" routerLinkActive="tabs-panel-open"><a routerLink="/settings/news"
          title="Latest News">Latest News</a></li>
      <li class="border-bottom border-right" routerLinkActive="tabs-panel-open"><a routerLink="/settings/logs"
          title="System Logs">System Logs</a></li>
      <li class="border-bottom border-right" routerLinkActive="tabs-panel-open"><a routerLink="/settings/system"
          title="System Information">System Information</a></li>
    </ul>
    <div class="tabs-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>