<div class="component">
  <div class="component__panel">

    <div class="controls d-flex justify-content-start align-items-start border-top border-bottom">
      <div class="controls__item d-flex justify-content-start align-items-center">
        <span class="material-icons">arrow_right</span>
        <i class="text-uppercase" title="Type Scale">Type Scale</i>
      </div>
      <div class="controls__item d-flex justify-content-end align-items-center">
        <div class="toolbar-item waterfall-controls">
          <input type="text" class="waterfall-input" [(ngModel)]="fontSize" (change)="onUpdateFontSize($event)">
          <select class="waterfall-select" [(ngModel)]="fontScaleSelected" (change)="onFontScaleSelect($event)">
            <option *ngFor="let item of fontScaleOptions;" [value]="item.size">{{item.label}}</option>
          </select>
          <span class="material-icons cursor-pointer" (click)="onHandleScaleSize(true)" title="Add high scale">arrow_drop_up</span>
          <span class="material-icons cursor-pointer" (click)="onHandleScaleSize(false)" title="Add low scale">arrow_drop_down</span>
          <span class="material-icons cursor-pointer" (click)="onHandleScaleReset()" title="Reset scale">settings_backup_restore</span>
          <ng-container *ngIf="latestNews.length">
            <span class="material-icons cursor-pointer" (click)="onRandomNewsArticle()" title="Refresh news article">refresh</span>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="hover-scrollbox-y hover-scrollbox-x h-full w-full">
      <ng-container *ngIf="typeScale.length; else noFont">
        <ng-container *ngFor="let item of typeScale; let i = index">
          <div class="typescale flex items-center w-full" [class.active]="item.active">
            <div class="typescale__label whitespace-nowrap">
              <span class="typescale__label-text">{{item.label}}</span>
            </div>
            <div class="typescale__wrapper flex-grow whitespace-nowrap" [class.active]="item.active">
              <h1 [style.color]="fontColor" [style.font-family]="fontFamily"
                [style.font-size]="item.size" [innerHtml]="displayText"></h1>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noFont>
        <div class="flex items-center justify-center h-full">
          <p class="text-muted">Select a font to preview the type scale.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
