$dashboardBackground: #14202b;
$dashboardTextColor: #fff;
$dashboardBorderColor: #0e161f;

body[data-theme="dashboard"] {
  @apply bg-[#14202b] text-[#ffffff];
}

[data-theme="dashboard"] {

  a {
    color: $dashboardTextColor;
    &:hover,
    &:active {
      color: $dashboardTextColor;
    }
  }

  .active {
    color: #637785 !important;
  }

  .favorite {
    color: #c10156 !important;
  }

  .disabled,
  .disabled i {
    color: #637785;
  }

  .enabled {
    color: $dashboardTextColor;
  }

  .selected {
    background-color: lighten($dashboardBorderColor, 10%);
  }

  .material-icons {
    color: $dashboardTextColor;
  }

  .radio label,
  .checkbox label {
    border: 2px solid #fff;
  }
  
  .radio :checked ~ label::before,
  .checkbox :checked ~ label::before {
    background-color: #fff;
  }
  
  .radio :checked ~ span,
  .checkbox :checked ~ span {
    color: #fff;
  }

  input.input--title {
    color: $dashboardTextColor !important;
    &:focus {
      color: $dashboardTextColor !important;
    }
  }

  // Toolbar text.
  .input-preview.preview-text button {
    background-color: $dashboardBorderColor !important;
  }

  // Toolbar switch text.
  .input-preview.quick-text button span.material-icons,
  .input-preview.latest-news button span.material-icons,
  .input-preview.preview-casing button span.material-icons,
  .input-preview.preview-reset button span.material-icons {
    color: $dashboardTextColor !important;
  }

  .input-preview.preview-size {

    input {
      color: red !important;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      background: $dashboardTextColor;
    }
    
    input[type="range"]::-webkit-slider-thumb {
      background: $dashboardTextColor !important;
      border: 3px solid #c10156 !important;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }

  .paginator {
    input {
      //color: #333;
      //background-color: #fff;
      border: 1px solid $dashboardBorderColor;
    }
  }

  .border-top {
    border-top: 1px solid $dashboardBorderColor !important;
  }

  .border-right {
    border-right: 1px solid $dashboardBorderColor !important;
  }

  .border-bottom {
    border-bottom: 1px solid $dashboardBorderColor !important;
  }

  .border-left {
    border-left: 1px solid $dashboardBorderColor !important;
  }

  .border-top-dashed {
    border-top: 1px dashed $dashboardBorderColor !important;
  }
  
  .border-right-dashed {
    border-right: 1px dashed $dashboardBorderColor !important;
  }
  
  .border-bottom-dashed {
    border-bottom: 1px dashed $dashboardBorderColor !important;
  }
  
  .border-left-dashed {
    border-left: 1px dashed $dashboardBorderColor !important;
  }

  .table {
    color: #fff;
    thead > tr {
      background-color: lighten(#14202b, 10%);
    }
    &.striped > tbody > tr:nth-child(odd) {
      background-color: lighten(#14202b, 2%);
    }
    .material-icons {
      color: #fff;
    }
    [class^="icon-"] {
      color: #fff;
    }
  }

  .page {
    &__header {
      border-bottom: 1px solid $dashboardBorderColor !important;
    }
    &__footer {
      border-top: 1px solid $dashboardBorderColor !important;
    }
  }

  .form-control {
    color: #fff;
    background-color: $dashboardBackground;
    border: 1px solid $dashboardBorderColor;
    .input-group-checkbox {
      background-color: $dashboardBorderColor;
    }
  }

  fieldset {
    border: 1px solid $dashboardBorderColor;
    legend {
      color: $dashboardTextColor;
    }
    dt {
      label {
        @apply text-[#fff];
      }
    }
    dd {
      border-left: 1px solid #fff;
    }
    dl:hover dt,
    dl:hover dd {
      border-color: $dashboardBorderColor;
    }
    dl:hover dt label {
      color: $dashboardTextColor;
    }
    dl dd label:hover {
      color: $dashboardTextColor;
    }
  }

  .glyph-list {
    .glyph-item {
      background-color: $dashboardBackground !important;
      border: solid 1px $dashboardBorderColor !important;
      margin: 0 !important;
      //margin-bottom: 0 !important;
      &:hover {
        background-color: #c10156 !important;
      }
    }
  }

}
