$mellowBackground: #ffdf00;
$mellowTextColor: #252525;
$mellowBorderColor: #252525;

body[data-theme="mellow"] {
  background-color: $mellowBackground;
  color: $mellowTextColor;
}

[data-theme="mellow"] {

  a {
    color: $mellowTextColor;
    &:hover,
    &:active {
      color: $mellowTextColor;
    }
  }

  .active {
    color: #cc0000 !important;
  }

  .favorite {
    color: #cc0000 !important;
  }

  .disabled,
  .disabled i {
    color: $mellowBorderColor;
  }

  .enabled {
    color: $mellowTextColor;
  }

  .selected {
    background-color: #ebd01a;
  }

  .material-icons {
    color: $mellowTextColor;
  }

  .radio label,
  .checkbox label {
    border: 2px solid $mellowTextColor;
  }
  
  .radio :checked ~ label::before,
  .checkbox :checked ~ label::before {
    background-color: $mellowTextColor;
  }
  
  .radio :checked ~ span,
  .checkbox :checked ~ span {
    color: $mellowTextColor;
  }

  input.input--title {
    color: $mellowTextColor !important;
    &:focus {
      color: $mellowTextColor !important;
    }
  }

  // Toolbar text.
  .input-preview.preview-text button {
    background-color: $mellowBorderColor !important;
  }

  // Toolbar switch text.
  .input-preview.quick-text button span.material-icons,
  .input-preview.latest-news button span.material-icons,
  .input-preview.preview-casing button span.material-icons,
  .input-preview.preview-reset button span.material-icons {
    color: $mellowTextColor !important;
  }

  .input-preview.preview-size {

    input {
      color: red !important;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      background: $mellowTextColor;
    }
    
    input[type="range"]::-webkit-slider-thumb {
      background: $mellowTextColor !important;
      border: 3px solid $mellowBorderColor !important;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }

  .paginator {
    input {
      //color: #333;
      //background-color: #fff;
      border: 1px solid $mellowBorderColor;
    }
  }

  .border-top {
    border-top: 1px solid $mellowBorderColor !important;
  }

  .border-right {
    border-right: 1px solid $mellowBorderColor !important;
  }

  .border-bottom {
    border-bottom: 1px solid $mellowBorderColor !important;
  }

  .border-left {
    border-left: 1px solid $mellowBorderColor !important;
  }

  .border-top-dashed {
    border-top: 1px dashed $mellowBorderColor !important;
  }
  
  .border-right-dashed {
    border-right: 1px dashed $mellowBorderColor !important;
  }
  
  .border-bottom-dashed {
    border-bottom: 1px dashed $mellowBorderColor !important;
  }
  
  .border-left-dashed {
    border-left: 1px dashed $mellowBorderColor !important;
  }

  .table {
    color: $mellowTextColor;
    thead > tr {
      color: $mellowBackground;
      background-color: $mellowTextColor;
    }
    &.striped > tbody > tr:nth-child(odd) {
      background-color: #ebd01a;
    }
    .material-icons {
      color: $mellowTextColor;
    }
    [class^="icon-"] {
      color: $mellowTextColor;
    }
  }

  .form-control {
    color: $mellowTextColor;
    background-color: $mellowBackground;
    border: 1px solid $mellowBorderColor;
    .input-group-checkbox {
      background-color: $mellowBorderColor;
    }
  }

  .page {
    &__header {
      border-bottom: 1px solid $mellowBorderColor !important;
    }
    &__footer {
      border-top: 1px solid $mellowBorderColor !important;
    }
  }

  fieldset {
    border: 1px solid $mellowBorderColor;
    legend {
      color: $mellowTextColor;
    }
    dt {
      label {
        color: $mellowTextColor;
      }
    }
    dd {
      border-left: 1px solid $mellowTextColor;
    }
    dl:hover dt,
    dl:hover dd {
      border-color: #c10156;
    }
    dl:hover dt label {
      color: $mellowTextColor;
    }
    dl dd label:hover {
      color: $mellowTextColor;
    }
  }

  .glyph-list {
    &__wrapper-item {
      @apply bg-[#ffdf00] border-2 border-[#252525];
    }
  }

}
