$modernBackground: #f17397;
$modernTextColor: #ffffff;
$modernBorderColor: #e34876;

body[data-theme="modern"] {
  background-color: $modernBackground;
  color: $modernTextColor;
}

[data-theme="modern"] {

  a {
    color: $modernTextColor;
    &:hover,
    &:active {
      color: $modernTextColor;
    }
  }

  .active {
    color: #cc0000 !important;
  }

  .favorite {
    color: #cc0000 !important;
  }

  .disabled,
  .disabled i {
    color: $modernBorderColor;
  }

  .enabled {
    color: $modernTextColor;
  }

  .selected {
    background-color: $modernBorderColor;
  }

  .material-icons {
    color: $modernTextColor;
  }

  input.input--title {
    color: $modernTextColor !important;
    &:focus {
      color: $modernTextColor !important;
    }
  }

  // Toolbar text.
  .input-preview.preview-text button {
    background-color: $modernBorderColor !important;
  }

  // Toolbar switch text.
  .input-preview.quick-text button span.material-icons,
  .input-preview.latest-news button span.material-icons,
  .input-preview.preview-casing button span.material-icons,
  .input-preview.preview-reset button span.material-icons {
    color: $modernTextColor !important;
  }

  .input-preview.preview-size {

    input {
      color: red !important;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      background: $modernTextColor;
    }
    
    input[type="range"]::-webkit-slider-thumb {
      background: $modernTextColor !important;
      border: 3px solid $modernBorderColor !important;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }

  .paginator {
    input {
      //color: #333;
      //background-color: #fff;
      border: 1px solid $modernBorderColor;
    }
  }

  .border-top {
    border-top: 1px solid $modernBorderColor !important;
  }

  .border-right {
    border-right: 1px solid $modernBorderColor !important;
  }

  .border-bottom {
    border-bottom: 1px solid $modernBorderColor !important;
  }

  .border-left {
    border-left: 1px solid $modernBorderColor !important;
  }

  .border-top-dashed {
    border-top: 1px dashed $modernBorderColor !important;
  }
  
  .border-right-dashed {
    border-right: 1px dashed $modernBorderColor !important;
  }
  
  .border-bottom-dashed {
    border-bottom: 1px dashed $modernBorderColor !important;
  }
  
  .border-left-dashed {
    border-left: 1px dashed $modernBorderColor !important;
  }

  .table {
    color: $modernTextColor !important;
  }

  .table td,
  .table th {
    border-top: none !important;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #e6658a;
  }
  
  .table > thead > tr > th {
    background-color: $modernBackground;
    border-right: 1px solid $modernBorderColor;
  }
  
  .table > thead > tr > th,
  .table > thead > tr > th > div,
  .table > thead > tr > th > div > span {
    color: $modernTextColor;
  }

  .page {
    &__header {
      border-bottom: 1px solid $modernBorderColor !important;
    }
    &__footer {
      border-top: 1px solid $modernBorderColor !important;
    }
  }

  .form-control {
    color: #fff;
    background-color: $modernBackground;
    border: 1px solid #fff;
    .input-group-checkbox {
      background-color: $modernBorderColor;
    }
  }

  fieldset {
    border: 1px solid $modernBorderColor;
    legend {
      color: $modernTextColor;
    }
    dt {
      label {
        color: $modernTextColor;
      }
    }
    dd {
      border-left: 1px solid $modernTextColor;
    }
    dl:hover dt,
    dl:hover dd {
      border-color: #c10156;
    }
    dl:hover dt label {
      color: $modernTextColor;
    }
    dl dd label:hover {
      color: $modernTextColor;
    }
  }

  .glyph-list {
    .glyph-item {
      background-color: $modernBackground !important;
      border: solid 1px #e6658a !important;
      margin: 0 !important;
      //margin-bottom: 0 !important;
      &:hover {
        background-color: #e7688d !important;
      }
    }
  }

}
