$swissBackground: #ed1b24;
$swissTextColor: #ffffff;
$swissBorderColor: #ffcccc;

body[data-theme="swiss"] {
  background-color: $swissBackground;
  color: $swissTextColor;
}

[data-theme="swiss"] {

  a {
    color: $swissTextColor;
    &:hover,
    &:active {
      color: $swissTextColor;
    }
  }

  .active {
    color: #cc0000 !important;
  }

  .favorite {
    color: #cc0000 !important;
  }

  .disabled,
  .disabled i {
    color: $swissBorderColor;
  }

  .enabled {
    color: $swissTextColor;
  }

  .selected {
    background-color: $swissBorderColor;
  }

  .material-icons {
    color: $swissTextColor;
  }

  .radio label,
  .checkbox label {
    border: 2px solid $swissTextColor;
  }
  
  .radio :checked ~ label::before,
  .checkbox :checked ~ label::before {
    background-color: $swissTextColor;
  }
  
  .radio :checked ~ span,
  .checkbox :checked ~ span {
    color: $swissTextColor;
  }

  input.input--title {
    color: $swissTextColor !important;
    &:focus {
      color: $swissTextColor !important;
    }
  }

  // Toolbar text.
  .input-preview.preview-text button {
    background-color: $swissBorderColor !important;
  }

  // Toolbar switch text.
  .input-preview.quick-text button span.material-icons,
  .input-preview.latest-news button span.material-icons,
  .input-preview.preview-casing button span.material-icons,
  .input-preview.preview-reset button span.material-icons {
    color: $swissTextColor !important;
  }

  .input-preview.preview-size {

    input {
      color: red !important;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      background: $swissTextColor;
    }
    
    input[type="range"]::-webkit-slider-thumb {
      background: $swissTextColor !important;
      border: 3px solid $swissBorderColor !important;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }

  .paginator {
    input {
      //color: #333;
      //background-color: #fff;
      border: 1px solid $swissBorderColor;
    }
  }

  .border-top {
    border-top: 1px solid $swissBorderColor !important;
  }

  .border-right {
    border-right: 1px solid $swissBorderColor !important;
  }

  .border-bottom {
    border-bottom: 1px solid $swissBorderColor !important;
  }

  .border-left {
    border-left: 1px solid $swissBorderColor !important;
  }

  .border-top-dashed {
    border-top: 1px dashed $swissBorderColor !important;
  }
  
  .border-right-dashed {
    border-right: 1px dashed $swissBorderColor !important;
  }
  
  .border-bottom-dashed {
    border-bottom: 1px dashed $swissBorderColor !important;
  }
  
  .border-left-dashed {
    border-left: 1px dashed $swissBorderColor !important;
  }

  .table {
    color: $swissTextColor;
    thead > tr {
      background-color: lighten($swissBackground, 5%);
    }
    &.striped > tbody > tr:nth-child(odd) {
      background-color: lighten($swissBackground, 2%);
    }
    .material-icons {
      color: $swissTextColor;
    }
    [class^="icon-"] {
      color: $swissTextColor;
    }
  }

  .form-control {
    color: #fff;
    background-color: $swissBackground;
    border: 1px solid #fff;
    .input-group-checkbox {
      background-color: $swissBorderColor;
    }
  }

  .page {
    &__header {
      border-bottom: 1px solid $swissBorderColor !important;
    }
    &__footer {
      border-top: 1px solid $swissBorderColor !important;
    }
  }

  fieldset {
    border: 1px solid $swissBorderColor;
    legend {
      color: $swissTextColor;
    }
    dt {
      label {
        color: $swissTextColor;
      }
    }
    dd {
      border-left: 1px solid $swissTextColor;
    }
    dl:hover dt,
    dl:hover dd {
      border-color: #c10156;
    }
    dl:hover dt label {
      color: $swissTextColor;
    }
    dl dd label:hover {
      color: $swissTextColor;
    }
  }

  .glyph-list {
    &__wrapper-item {
      @apply bg-[#ed1b24] border-2 border-[#fff];
    }
  }

}
