<div class="component">
  <div class="component__panel">

    <div class="controls flex justify-between items-center border-top border-bottom">
      <div class="controls__item flex justify-start items-center">
        <span class="material-icons">arrow_right</span>
        <span class="text-uppercase whitespace-nowrap">News Article</span>
      </div>
      <div class="controls__item flex justify-end items-center">
        <div class="controls__item-elements">
          <button type="button"
            class="app-btn ml-2"
            (click)="onUpdateNewsArticle($event)">
            <span>Random Article</span>
          </button>
          <button type="button"
            class="app-btn ml-2"
            (click)="onRefreshLatestNews($event)">
            <span>Refresh News</span>
          </button>
          <select class="form-control form-control-small mx-5" [(ngModel)]="proseFontScaleSelect" (change)="onSelectProseScale($event)">
            <option *ngFor="let item of proseFontScale;" [value]="item.prose">{{item.title}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="hover-scrollbox-y">
      <div class="relative container mx-auto px-10 py-10 w-full">
        <article class="prose prose-img:rounded-xl prose-headings:underline" [class]="proseFontScaleSelect" [style.color]="fontColor" [style.font-family]="fontFamily">
          <ng-template [ngIf]="selectedNews.source.name">
            <i class="ml-2" [style.color]="fontColor" [style.font-family]="fontFamily">{{selectedNews.source.name}}</i>
          </ng-template>
          <h1 class="!my-5" [style.color]="fontColor" [style.font-family]="fontFamily">{{selectedNews.title}}</h1>
          <div class="flex justify-start items-center">
            <ng-template [ngIf]="selectedNews.author">
              <strong [style.color]="fontColor" [style.font-family]="fontFamily">{{selectedNews.author}}</strong>
            </ng-template>
            <ng-template [ngIf]="selectedNews.publishedAt">
              <i class="ml-2" [style.color]="fontColor" [style.font-family]="fontFamily">{{selectedNews.publishedAt}}</i>
            </ng-template>
          </div>
          <p [style.color]="fontColor" [style.font-family]="fontFamily" [innerHtml]="selectedNews.description | safeHtml" *ngIf="selectedNews.description"></p>
          <div class="flex justify-start items-center py-0 my-0">
            <img class="py-0 !my-2" src="{{selectedNews.urlToImage}}" />
          </div>
          <p [style.color]="fontColor" [style.font-family]="fontFamily" [innerHtml]="textContent | safeHtml" *ngIf="textContent"></p>
        </article>
      </div>
    </div>

  </div>
</div>