@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url(../../assets/fonts/md/MaterialSymbolsOutlined.woff2) format('woff2');
}

.material-symbols-outlined {
  color: inherit;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.icon-xs { font-size: 18px; }
.material-symbols-outlined.icon-sm { font-size: 20px; }
.material-symbols-outlined.icon-md { font-size: 24px; }
.material-symbols-outlined.icon-lg { font-size: 28px; }
.material-symbols-outlined.icon-xl { font-size: 32px; }
