@font-face {
  font-family: 'octicon';
  src: url('../../assets/fonts/octicon/octicon.eot?15389122');
  src: url('../../assets/fonts/octicon/octicon.eot?15389122#iefix') format('embedded-opentype'), 
       url('../../assets/fonts/octicon/octicon.woff2?15389122') format('woff2'), 
       url('../../assets/fonts/octicon/octicon.woff?15389122') format('woff'), 
       url('../../assets/fonts/octicon/octicon.ttf?15389122') format('truetype'), 
       url('../../assets/fonts/octicon/octicon.svg?15389122#octicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'octicon';
//   src: url('../../assets/fonts/octicon/octicon.woff2?15389122') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
  font-family: 'octicon';
  src: url('../font/octicon.svg?15389122#octicon') format('svg');
}
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "octicon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-alert:before {
  content: '\e800';
}


/* '' */

.icon-archive:before {
  content: '\e801';
}


/* '' */

.icon-arrow-both:before {
  content: '\e802';
}


/* '' */

.icon-arrow-down:before {
  content: '\e803';
}


/* '' */

.icon-arrow-left:before {
  content: '\e804';
}


/* '' */

.icon-arrow-right:before {
  content: '\e805';
}


/* '' */

.icon-arrow-small-down:before {
  content: '\e806';
}


/* '' */

.icon-arrow-small-left:before {
  content: '\e807';
}


/* '' */

.icon-arrow-small-right:before {
  content: '\e808';
}


/* '' */

.icon-arrow-small-up:before {
  content: '\e809';
}


/* '' */

.icon-arrow-up:before {
  content: '\e80a';
}


/* '' */

.icon-beaker:before {
  content: '\e80b';
}


/* '' */

.icon-bell:before {
  content: '\e80c';
}


/* '' */

.icon-bold:before {
  content: '\e80d';
}


/* '' */

.icon-book:before {
  content: '\e80e';
}


/* '' */

.icon-bookmark:before {
  content: '\e80f';
}


/* '' */

.icon-briefcase:before {
  content: '\e810';
}


/* '' */

.icon-broadcast:before {
  content: '\e811';
}


/* '' */

.icon-browser:before {
  content: '\e812';
}


/* '' */

.icon-bug:before {
  content: '\e813';
}


/* '' */

.icon-calendar:before {
  content: '\e814';
}


/* '' */

.icon-check:before {
  content: '\e815';
}


/* '' */

.icon-checklist:before {
  content: '\e816';
}


/* '' */

.icon-chevron-down:before {
  content: '\e817';
}


/* '' */

.icon-chevron-left:before {
  content: '\e818';
}


/* '' */

.icon-chevron-right:before {
  content: '\e819';
}


/* '' */

.icon-chevron-up:before {
  content: '\e81a';
}


/* '' */

.icon-circle-slash:before {
  content: '\e81b';
}


/* '' */

.icon-circuit-board:before {
  content: '\e81c';
}


/* '' */

.icon-clippy:before {
  content: '\e81d';
}


/* '' */

.icon-clock:before {
  content: '\e81e';
}


/* '' */

.icon-cloud-download:before {
  content: '\e81f';
}


/* '' */

.icon-cloud-upload:before {
  content: '\e820';
}


/* '' */

.icon-code:before {
  content: '\e821';
}


/* '' */

.icon-comment-discussion:before {
  content: '\e822';
}


/* '' */

.icon-comment:before {
  content: '\e823';
}


/* '' */

.icon-credit-card:before {
  content: '\e824';
}


/* '' */

.icon-dash:before {
  content: '\e825';
}


/* '' */

.icon-dashboard:before {
  content: '\e826';
}


/* '' */

.icon-database:before {
  content: '\e827';
}


/* '' */

.icon-desktop-download:before {
  content: '\e828';
}


/* '' */

.icon-device-camera-video:before {
  content: '\e829';
}


/* '' */

.icon-device-camera:before {
  content: '\e82a';
}


/* '' */

.icon-device-desktop:before {
  content: '\e82b';
}


/* '' */

.icon-device-mobile:before {
  content: '\e82c';
}


/* '' */

.icon-diff-added:before {
  content: '\e82d';
}


/* '' */

.icon-diff-ignored:before {
  content: '\e82e';
}


/* '' */

.icon-diff-modified:before {
  content: '\e82f';
}


/* '' */

.icon-diff-removed:before {
  content: '\e830';
}


/* '' */

.icon-diff-renamed:before {
  content: '\e831';
}


/* '' */

.icon-diff:before {
  content: '\e832';
}


/* '' */

.icon-ellipsis:before {
  content: '\e833';
}


/* '' */

.icon-eye-closed:before {
  content: '\e834';
}


/* '' */

.icon-eye:before {
  content: '\e835';
}


/* '' */

.icon-file-binary:before {
  content: '\e836';
}


/* '' */

.icon-file-code:before {
  content: '\e837';
}


/* '' */

.icon-file-directory:before {
  content: '\e838';
}


/* '' */

.icon-file-media:before {
  content: '\e839';
}


/* '' */

.icon-file-pdf:before {
  content: '\e83a';
}


/* '' */

.icon-file-submodule:before {
  content: '\e83b';
}


/* '' */

.icon-file-symlink-directory:before {
  content: '\e83c';
}


/* '' */

.icon-file-symlink-file:before {
  content: '\e83d';
}


/* '' */

.icon-file-zip:before {
  content: '\e83e';
}


/* '' */

.icon-file:before {
  content: '\e83f';
}


/* '' */

.icon-flame:before {
  content: '\e840';
}


/* '' */

.icon-fold-down:before {
  content: '\e841';
}


/* '' */

.icon-fold-up:before {
  content: '\e842';
}


/* '' */

.icon-fold:before {
  content: '\e843';
}


/* '' */

.icon-gear:before {
  content: '\e844';
}


/* '' */

.icon-gift:before {
  content: '\e845';
}


/* '' */

.icon-gist-secret:before {
  content: '\e846';
}


/* '' */

.icon-gist:before {
  content: '\e847';
}


/* '' */

.icon-git-branch:before {
  content: '\e848';
}


/* '' */

.icon-git-commit:before {
  content: '\e849';
}


/* '' */

.icon-git-compare:before {
  content: '\e84a';
}


/* '' */

.icon-git-merge:before {
  content: '\e84b';
}


/* '' */

.icon-git-pull-request:before {
  content: '\e84c';
}


/* '' */

.icon-github-action:before {
  content: '\e84d';
}


/* '' */

.icon-globe:before {
  content: '\e84e';
}


/* '' */

.icon-grabber:before {
  content: '\e84f';
}


/* '' */

.icon-graph:before {
  content: '\e850';
}


/* '' */

.icon-heart:before {
  content: '\e851';
}


/* '' */

.icon-history:before {
  content: '\e852';
}


/* '' */

.icon-home:before {
  content: '\e853';
}


/* '' */

.icon-horizontal-rule:before {
  content: '\e854';
}


/* '' */

.icon-hubot:before {
  content: '\e855';
}


/* '' */

.icon-inbox:before {
  content: '\e856';
}


/* '' */

.icon-info:before {
  content: '\e857';
}


/* '' */

.icon-issue-closed:before {
  content: '\e858';
}


/* '' */

.icon-issue-opened:before {
  content: '\e859';
}


/* '' */

.icon-issue-reopened:before {
  content: '\e85a';
}


/* '' */

.icon-italic:before {
  content: '\e85b';
}


/* '' */

.icon-jersey:before {
  content: '\e85c';
}


/* '' */

.icon-kebab-horizontal:before {
  content: '\e85d';
}


/* '' */

.icon-kebab-vertical:before {
  content: '\e85e';
}


/* '' */

.icon-link-external:before {
  content: '\e85f';
}


/* '' */

.icon-law:before {
  content: '\e860';
}


/* '' */

.icon-light-bulb:before {
  content: '\e861';
}


/* '' */

.icon-key:before {
  content: '\e862';
}


/* '' */

.icon-keyboard:before {
  content: '\e863';
}


/* '' */

.icon-link:before {
  content: '\e864';
}


/* '' */

.icon-list-ordered:before {
  content: '\e865';
}


/* '' */

.icon-list-unordered:before {
  content: '\e866';
}


/* '' */

.icon-location:before {
  content: '\e867';
}


/* '' */

.icon-lock:before {
  content: '\e868';
}


/* '' */

.icon-logo-gist:before {
  content: '\e869';
}


/* '' */

.icon-logo-github:before {
  content: '\e86a';
}


/* '' */

.icon-mail-read:before {
  content: '\e86b';
}


/* '' */

.icon-mail:before {
  content: '\e86c';
}


/* '' */

.icon-mark-github:before {
  content: '\e86d';
}


/* '' */

.icon-markdown:before {
  content: '\e86e';
}


/* '' */

.icon-megaphone:before {
  content: '\e86f';
}


/* '' */

.icon-mention:before {
  content: '\e870';
}


/* '' */

.icon-milestone:before {
  content: '\e871';
}


/* '' */

.icon-mirror:before {
  content: '\e872';
}


/* '' */

.icon-mortar-board:before {
  content: '\e873';
}


/* '' */

.icon-mute:before {
  content: '\e874';
}


/* '' */

.icon-no-newline:before {
  content: '\e875';
}


/* '' */

.icon-note:before {
  content: '\e876';
}


/* '' */

.icon-octoface:before {
  content: '\e877';
}


/* '' */

.icon-organization:before {
  content: '\e878';
}


/* '' */

.icon-package:before {
  content: '\e879';
}


/* '' */

.icon-paintcan:before {
  content: '\e87a';
}


/* '' */

.icon-pencil:before {
  content: '\e87b';
}


/* '' */

.icon-person:before {
  content: '\e87c';
}


/* '' */

.icon-pin:before {
  content: '\e87d';
}


/* '' */

.icon-play:before {
  content: '\e87e';
}


/* '' */

.icon-plug:before {
  content: '\e87f';
}


/* '' */

.icon-plus-small:before {
  content: '\e880';
}


/* '' */

.icon-plus:before {
  content: '\e881';
}


/* '' */

.icon-primitive-dot:before {
  content: '\e882';
}


/* '' */

.icon-primitive-square:before {
  content: '\e883';
}


/* '' */

.icon-project:before {
  content: '\e884';
}


/* '' */

.icon-pulse:before {
  content: '\e885';
}


/* '' */

.icon-question:before {
  content: '\e886';
}


/* '' */

.icon-quote:before {
  content: '\e887';
}


/* '' */

.icon-radio-tower:before {
  content: '\e888';
}


/* '' */

.icon-reply:before {
  content: '\e889';
}


/* '' */

.icon-repo-clone:before {
  content: '\e88a';
}


/* '' */

.icon-repo-force-push:before {
  content: '\e88b';
}


/* '' */

.icon-repo-forked:before {
  content: '\e88c';
}


/* '' */

.icon-repo-pull:before {
  content: '\e88d';
}


/* '' */

.icon-repo-push:before {
  content: '\e88e';
}


/* '' */

.icon-repo:before {
  content: '\e88f';
}


/* '' */

.icon-report:before {
  content: '\e890';
}


/* '' */

.icon-request-changes:before {
  content: '\e891';
}


/* '' */

.icon-rocket:before {
  content: '\e892';
}


/* '' */

.icon-rss:before {
  content: '\e893';
}


/* '' */

.icon-ruby:before {
  content: '\e894';
}


/* '' */

.icon-screen-full:before {
  content: '\e895';
}


/* '' */

.icon-screen-normal:before {
  content: '\e896';
}


/* '' */

.icon-search:before {
  content: '\e897';
}


/* '' */

.icon-server:before {
  content: '\e898';
}


/* '' */

.icon-settings:before {
  content: '\e899';
}


/* '' */

.icon-shield:before {
  content: '\e89a';
}


/* '' */

.icon-sign-in:before {
  content: '\e89b';
}


/* '' */

.icon-sign-out:before {
  content: '\e89c';
}


/* '' */

.icon-smiley:before {
  content: '\e89d';
}


/* '' */

.icon-squirrel:before {
  content: '\e89e';
}


/* '' */

.icon-star:before {
  content: '\e89f';
}


/* '' */

.icon-stop:before {
  content: '\e8a0';
}


/* '' */

.icon-sync:before {
  content: '\e8a1';
}


/* '' */

.icon-tag:before {
  content: '\e8a2';
}


/* '' */

.icon-tasklist:before {
  content: '\e8a3';
}


/* '' */

.icon-telescope:before {
  content: '\e8a4';
}


/* '' */

.icon-terminal:before {
  content: '\e8a5';
}


/* '' */

.icon-text-size:before {
  content: '\e8a6';
}


/* '' */

.icon-three-bars:before {
  content: '\e8a7';
}


/* '' */

.icon-thumbsdown:before {
  content: '\e8a8';
}


/* '' */

.icon-thumbsup:before {
  content: '\e8a9';
}


/* '' */

.icon-tools:before {
  content: '\e8aa';
}


/* '' */

.icon-trashcan:before {
  content: '\e8ab';
}


/* '' */

.icon-triangle-down:before {
  content: '\e8ac';
}


/* '' */

.icon-triangle-left:before {
  content: '\e8ad';
}


/* '' */

.icon-triangle-right:before {
  content: '\e8ae';
}


/* '' */

.icon-triangle-up:before {
  content: '\e8af';
}


/* '' */

.icon-unfold:before {
  content: '\e8b0';
}


/* '' */

.icon-unmute:before {
  content: '\e8b1';
}


/* '' */

.icon-unverified:before {
  content: '\e8b2';
}


/* '' */

.icon-verified:before {
  content: '\e8b3';
}


/* '' */

.icon-versions:before {
  content: '\e8b4';
}


/* '' */

.icon-watch:before {
  content: '\e8b5';
}


/* '' */

.icon-x:before {
  content: '\e8b6';
}


/* '' */

.icon-zap:before {
  content: '\e8b7';
}


/* '' */