<div class="component">
  <div class="component__panel">

    <div class="hover-scroll-overlay-y">

      <div class="tabs-panel tabs-panel-open" *ngIf="themes">
        <div class="panel-content">
          <div class="container mx-auto p-7">

            <div class="page">

              <!-- Head -->
              <div class="page__header">
                <div class="text-left">
                  <h1>Theme Settings</h1>
                </div>
              </div>

              <form class="form" #generalForm="ngForm" (ngSubmit)="onSubmit(generalForm)">

                <!-- Body -->
                <div class="page__body">
                  <div class="form-group">
                    <label for="key">Selected theme</label>
                    <select class="form-control" name="key" id="key" [(ngModel)]="theme.key" #key="ngModel"
                      (change)="onChange($event)">
                      <option *ngFor="let item of themes;" [value]="item.key">{{item.title}}</option>
                    </select>
                    <span class="form-text">{{ theme.description }}</span>
                  </div>
                </div>

              </form>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>