<nav class="component border-right">
  <div class="component__panel">
    <div class="scrollbox">
      <div class="scrollbox-content">

        <!-- Library (Smart Filters) -->
        <div class="nav-section">
          <div class="nav-section__header">
            <span class="nav-section__title text-uppercase">Library</span>
          </div>
          <ul class="nav-list">
            <li class="nav-item" [class.is-active]="activeFilter === 'all'" (click)="handleClickAll($event)">
              <div class="nav-item__row">
                <span class="material-icons nav-item__icon">folder_open</span>
                <span class="nav-item__label">All Fonts</span>
                <span class="nav-item__count">{{ rowCount }}</span>
              </div>
            </li>
            <li class="nav-item" [class.is-active]="activeFilter === 'favorites'" (click)="handleClickFavorites($event)">
              <div class="nav-item__row">
                <span class="material-icons nav-item__icon">star_outline</span>
                <span class="nav-item__label">Favorites</span>
                <span class="nav-item__count">{{ favoriteCount }}</span>
              </div>
            </li>
            <li class="nav-item" [class.is-active]="activeFilter === 'system'" (click)="handleClickSystem($event)">
              <div class="nav-item__row">
                <span class="material-icons nav-item__icon">computer</span>
                <span class="nav-item__label">System Fonts</span>
                <span class="nav-item__count">{{ systemCount }}</span>
              </div>
            </li>
            <li class="nav-item" [class.is-active]="activeFilter === 'activated'" (click)="handleClickActivated($event)">
              <div class="nav-item__row">
                <span class="material-icons nav-item__icon">check_circle_outline</span>
                <span class="nav-item__label">Activated</span>
                <span class="nav-item__count">{{ activatedCount }}</span>
              </div>
            </li>
          </ul>
        </div>

        <!-- Collections -->
        <div class="nav-section">
          <div class="nav-section__header">
            <span class="nav-section__title text-uppercase">Collections</span>
            <span class="nav-section__actions">
              <span class="material-icons cursor" (click)="handleClickSystemScan($event)" title="Scan System Fonts">radar</span>
              <span class="material-icons cursor" (click)="handleCreateCollection($event, 0)" title="New Collection">add</span>
              <span class="material-icons cursor" (click)="toggleCollapseAll()" title="Collapse All">unfold_less</span>
            </span>
          </div>

          <ul class="nav-list">
            <ng-container *ngFor="let item of resultSet">

              <!-- Parent Collection -->
              <li class="nav-item nav-item--parent"
                  [class.is-active]="activeCollection === item.id && !activeChild"
                  [class.is-expanded]="!item.collapsed">

                <div class="nav-item__row" (click)="handleSelectCollection(item)">
                  <span class="material-icons nav-item__toggle" (click)="toggleCollapse($event, item)">
                    {{ item.collapsed ? 'chevron_right' : 'expand_more' }}
                  </span>
                  <span class="material-icons nav-item__icon">folder</span>
                  <input type="text" class="nav-item__input" [value]="item.title"
                         (keyup.enter)="handleTitleInput($event)" (change)="handleTitleInput($event)"
                         [attr.data-id]="item.id" (click)="$event.stopPropagation()" />
                  <span class="nav-item__hover-actions">
                    <span class="material-icons" (click)="handleCreateCollection($event, item.id)" title="Add Sub-Collection">create_new_folder</span>
                    <span class="material-icons" (click)="handleDeleteCollection($event, item.id)" title="Delete Collection">delete_outline</span>
                  </span>
                </div>

                <!-- Children -->
                <ul class="nav-list nav-list--children" *ngIf="item.children.length && !item.collapsed">
                  <li class="nav-item nav-item--child"
                      *ngFor="let child of item.children"
                      [class.is-active]="activeChild === child.id">

                    <div class="nav-item__row" (click)="handleSelectChild(child)">
                      <span class="material-icons nav-item__icon">label_outline</span>
                      <input type="text" class="nav-item__input" [value]="child.title"
                             (keyup.enter)="handleTitleInput($event)" (change)="handleTitleInput($event)"
                             [attr.data-id]="child.id" (click)="$event.stopPropagation()" />
                      <span class="nav-item__count">{{ child.count }}</span>
                      <span class="nav-item__hover-actions">
                        <span class="material-icons" (click)="handleAddFonts($event, child.id)" title="Add Fonts">note_add</span>
                        <span class="material-icons" (click)="handleDeleteCollection($event, child.id)" title="Delete">delete_outline</span>
                      </span>
                    </div>
                  </li>
                </ul>
              </li>

            </ng-container>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>
