
.glyph-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1px;

    &__wrapper {
        flex-grow: 1;
    }

    &__wrapper-item {
        cursor: alias;
        margin: 1px;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    margin: 0 5px 0 0;

    span {
        margin: 0 10px;
    }

    select {
        margin-right: 5px;
        height: 28px;
        line-height: 1.2;
        font-size: 14px;
    }
}