<div class="component">
  <div class="component__panel">

    <div class="controls flex justify-between items-center border-top border-bottom">
      <div class="controls__item flex justify-start items-center">
        <div class="controls__item-elements">
          <input type="text" class="form-control form-control-small w-[40px] mr-2" [(ngModel)]="baseSize" (change)="onUpdateBaseSize($event)">
          <select class="form-control form-control-small mr-5" [(ngModel)]="fontScaleActive" (change)="onfontScaleSelect($event)">
            <option *ngFor="let item of fontScale;" [value]="item.size">{{item.title}}</option>
          </select>
        </div>
      </div>
      <div class="controls__item flex justify-end items-center">
        <i class="material-icons" (click)="onComponentSwitch();">more_horiz</i>
      </div>
    </div>

    <div class="hover-scrollbox-y h-full min-h-full">
      <ng-container *ngFor="let item of waterFall; let i = index">
        <div class="waterfall flex items-stretch w-full">
          <div class="waterfall__label flex items-end min-w-[140px] px-5 py-5 whitespace-nowrap">
            <span class="waterfall__label-text">{{item.fontLabel}}</span>
          </div>
          <div class="waterfall__wrapper relative flex items-center w-full px-5 whitespace-nowrap">
            <h1 class="leading-tight" [style.color]="fontColor" [style.font-family]="item.fontFamily" [style.font-size]="item.fontSize" [innerHtml]="displayText"></h1>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>
