
.controls {
    white-space: nowrap;
    padding: 0;
    margin: 0 5px 0 0;
    width: 100%;

    span,
    select {
        margin: 0 10px;
    }
    input,
    select {
        height: 28px;
        line-height: 1.2;
        font-size: 14px;
    }
}