@use "sass:map";

@import "../tools/_variables";
@import "../tools/_functions";
@import "../tools/_mixins";
@import "../tools/_placeholders";

:root {
  --border-radius: 50%;
}

* {
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  font-size: 12px;
}

body {
  color: $color-text-enabled;
  background-color: $color-background;
  font-family: $base-font-family;
  margin: 0;
  overflow: hidden;
}

a {
  color: $color-text-enabled;
  text-shadow: none;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
    color: $color-text-enabled;
  }
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

input {
  color: $color-text;
  &:focus {
    color: $color-text;
  }
}

input.input--title {
  color: $color-text-enabled;
  &:focus {
    color: $color-text-enabled;
  }
}

.active {
  color: #00a0be !important;
}

.checkout {
  color: #00a0be !important;
}

.favorite {
  color: #cc0000 !important;
}

.errors {
  color: #cc0000 !important;
}

.disabled,
.disabled i {
  color: $color-text-disabled;
}

.enabled {
  color: $color-text-enabled;
}

.selected {
  background-color: #efefef;
}

.material-icons {
  color: $color-text-enabled;
}

.hidden {
  display: none !important;
}

[hidden] { 
  display: none !important;
}

.zero-pad {
  padding: 0 !important;
}

/* ==========================================================================
Inputs
========================================================================== */

.radio,
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.checkbox {
  --border-radius: 0;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  display: none;
}

.radio label,
.checkbox label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #8b8b8b;
  border-radius: var(--border-radius);
}

.radio label::before,
.checkbox label::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: var(--border-radius);
  background-color: transparent;
  transform: translate(-50%, -50%);
  transition: background-color 0.25s;
}

.radio :checked ~ label::before,
.checkbox :checked ~ label::before {
  background-color: #88ce6c;
}

.radio :checked ~ span,
.checkbox :checked ~ span {
  color: #88ce6c;
}

/* ==========================================================================
Range Slider
@see https://dev.to/_phzn/styling-range-sliders-with-css-4lgl
@see https://tailwindcss.com/docs/box-shadow
========================================================================== */

input[type="range"] {
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: $color-text-enabled;
  height: 5px;
  border-radius: 0.25rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: pink;
  margin-top: -5px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* ==========================================================================
Tables
========================================================================== */

.table {
  @apply text-[#616467] opacity-0 invisible transition-opacity;

  thead.thead-dark th {
    color: $color-white;
    background-color: $color-text-enabled;
  }

  tr {
    th,
    td {
      @apply p-3 bg-inherit relative align-middle whitespace-nowrap overflow-hidden;  
    }

    th:not(.sort_input) {
      min-width: 150px;
    }

    th {
      cursor: pointer;
    }
    
    th.sorting {
      background: url(../../assets/images/sort/sort_both.png) center right no-repeat;
    }
    th.sorting.sort_center {
      background: url(../../assets/images/sort/sort_both.png) center center no-repeat;
    }
    th.sorting_asc {
      background: url(../../assets/images/sort/sort_asc.png) center right no-repeat;
    }
    th.sorting_asc.sort_center {
      background: url(../../assets/images/sort/sort_asc.png) center center no-repeat;
    }
    th.sorting_desc {
      background: url(../../assets/images/sort/sort_desc.png) center right no-repeat;
    }
    th.sorting_desc.sort_center {
      background: url(../../assets/images/sort/sort_desc.png) center center no-repeat;
    }

  }

  &.striped tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
  }

  .material-icons {
    color: $color-text;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 24px !important;
  }

  i[class^="icon-"],
  span[class^="icon-"] {
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
  }
}

/* ==========================================================================
Wrapper
========================================================================== */

.application {
  @apply w-screen h-screen opacity-100 overflow-hidden transition-opacity;
  &.app-loading {
    @apply opacity-0 invisible;
  }
}

/* ==========================================================================
Component
========================================================================== */

.component {
  @extend %full;
  &__panel {
    @apply relative flex flex-col flex-nowrap justify-start items-center overflow-hidden w-full h-full;
  }
}

/* ==========================================================================
Scrollbox
========================================================================== */

.scrollbox {
  background-color: transparent;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 100%;
  width: 100%;
  transition: all 1s ease-in-out;
  will-change: transform, opacity, visibility;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  .scrollbox-content {
    position: relative;
    visibility: visible;
    min-height: 100%;
  }
  &.scrollX {
    overflow-x: overlay !important;
  }
  &.scrollY {
    overflow-y: overlay !important;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    //background: rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: all 1s ease-in-out;
    //background: rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-corner {
    background-color: inherit;
  }
  &::-webkit-scrollbar-track-piece:start {
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece:end {
    background: transparent;
  }
}

/* ==========================================================================
Borders
========================================================================== */

.border-top {
  @apply border-t border-[#00a0be];
}

.border-right {
  @apply border-r border-[#00a0be];
}

.border-bottom {
  @apply border-b border-[#00a0be];
}

.border-left {
  @apply border-l border-[#00a0be];
}

.border-top-dashed {
  @apply border-t border-[#00a0be] border-dashed;
}

.border-right-dashed {
  @apply border-r border-[#00a0be] border-dashed;
}

.border-bottom-dashed {
  @apply border-b border-[#00a0be] border-dashed;
}

.border-left-dashed {
  @apply border-l border-[#00a0be] border-dashed;
}

/* ==========================================================================
Controls
========================================================================== */

.controls {
  @apply w-full p-0 m-0;
  &__item {
    @apply py-0 px-2 w-full h-[38px] min-h-[38px] max-h-[38px] mt-[-1px];
  }
  &__item p,
  &__item div,
  &__item span {
    @apply opacity-0 invisible transition-opacity;
  }
  &__item p,
  &__item span:not(.material-icons) {
    @apply uppercase;
  }
}

/* ==========================================================================
Alert
========================================================================== */

.app-alert {
  @apply bg-white absolute top-0 left-0 opacity-0 invisible transition-opacity -z-10;
  &.app-alert-enabled {
    @apply opacity-100 visible z-10;
  }
  &.app-alert-info {
    color: map.get($alert-colors, "info");
    background-color: map.get($alert-backgrounds, "info");
    .material-icons {
      color: map.get($alert-colors, "info");
    }
  }
  &.app-alert-success {
    color: map.get($alert-colors, "success");
    background-color: map.get($alert-backgrounds, "success");
    .material-icons {
      color: map.get($alert-colors, "success");
    }
  }
  &.app-alert-error {
    color: map.get($alert-colors, "error");
    background-color: map.get($alert-backgrounds, "error");
    .material-icons {
      color: map.get($alert-colors, "error");
    }
  }
  &.app-alert-warning {
    color: map.get($alert-colors, "warning");
    background-color: map.get($alert-backgrounds, "warning");
    .material-icons {
      color: map.get($alert-colors, "warning");
    }
  }
  &.app-alert-danger {
    color: map.get($alert-colors, "danger");
    background-color: map.get($alert-backgrounds, "danger");
    .material-icons {
      color: map.get($alert-colors, "danger");
    }
  }
}

/* ==========================================================================
Fieldset
========================================================================== */

fieldset {
  @apply relative normal-case m-7 py-3.5 px-2.5 rounded border border-[#eaeaea];
  legend {
    @apply relative text-lg text-[#00a0be] font-semibold leading-none tracking-wider inline-block align-middle py-[2px] px-[5px] w-auto top-0;
  }
  dl {
    @apply overflow-hidden font-semibold mx-5 mb-3;
  }
  dt {
    @apply text-left float-left border-none w-[45%] pt-1;
    label {
      @apply text-base text-[#00a0be];
    }
    span {
      @apply block font-normal;
    }
  }
  dd {
    @apply border-l border-[#cccccc] align-top mt-0 mr-0 mb-0 ml-[45%] pt-0 pr-0 pb-0 pl-2;
  }
  dl:hover dt,
  dl:hover dd {
    @apply border-[#666666];
  }
  dl:hover dt label {
    @apply text-[#00a0be];
  }
  dl dd label:hover {
    @apply text-[#bc2a4d];
  }
}

/* ==========================================================================
Spinner
========================================================================== */

.form {
  .form-group {
    @apply flex flex-col justify-start w-full mt-2 mb-7 ml-5 pr-10;
    label {
      @apply text-base font-semibold inline-block mb-2;
    }
    .form-text {
      @apply block text-base mt-2;
    }
  }
  .form__actions {
    @apply p-5;
  }
}

/* ==========================================================================
Spinner
========================================================================== */

.app-spinner {
  @apply relative rounded-full w-[19px] h-[19px] m-0 p-0 opacity-0 indent-[150%] border-4 border-[#00a0be];
  border-left: 4px solid #fff;
  &.is-animating {
    @apply opacity-100 animate-spin;
  }
}
